
.container-1{
    background-color: hsl(351,100%,71%);
    color: #fff;
    padding: 10% 0;
}
.container-1 .col-lg-5{
    padding:  10% 0;
}
.container-1 .col-lg-5 h1{
    font-weight: 700;
}
.container-1 .col-lg-5 p{
    margin: 7% 0;
}


.container-2, .pricing{
    background-color: hsl(0,0%,98%);
}
.container-2 .p-top, .pricing .p-top , .team .p-top{
    color: hsl(351,100%,71%);
    font-size: 1.2em;
    font-weight: 500;
}
.container-2 h2 , .pricing h2 , .team h2{
    font-size: 2.5em;
    font-weight: 700;
}
.container-2 .p-bottom , .pricing .p-bottom , .team .p-bottom{
    color: hsl(0,0%,58%);
    font-size: 1.12em;
}
.container-2 .card{
    margin: 5% 0;
}
.container-2 .card h3{
    font-size: 1.3em;
    font-weight: 600;
    padding: 4% 0;
}
.container-2 .card p{
    color: hsl(0,0%,58%);
}
.container-2 .btn{
    background-color: hsl(351,100%,71%);
    color: #fff;
    padding: 5% 6%;
}


.container-3 .row{
    padding: 10% 3%;
}
.container-3 h2{
    font-weight: 700;
    margin: 5% 0;
}
.container-3 p{
    margin: 5% 0;
    color: hsl(0,0%,58%);
}
.container-3 .btn{
    background-color: hsl(351,100%,71%);
    color: #fff;
    padding: 2% 5%;
    font-size: 1em;
    font-weight: 600;
}
.overview-2{
    background-color: hsl(351,100%,71%);
    color: #fff;
    padding: 6% 0;
}
.overview-2 h2{
    font-size: 2.4em;
    font-weight: 700;
}
.overview-2 .row{
    margin-top: 5%;
}

/* pricing */
.pricing .card{
    margin: 4% 0;
}
.pricing .row .col-lg-3 h3{
    font-size: 1em;
    font-weight: 700;
}
.pricing .row .col-lg-3 p{
    font-size: 1em;
    color: hsl(0,0%,58%);
}
.pricing .row .col-lg-3 .price{
    font-size: 2em;
    font-weight: 700;
    color: #000;
}
.pricing .row .col-lg-3 ul{
    padding-left: 5%;
}


@media screen and (max-width : 540px) {
    body{
        text-align: center;
    }
    .pricing .card{
        text-align: left;
    }
}